@media (max-width: 722px){
    /* responsive section header INICIO */
        .header__titulo h1{
            font-size: 1.2rem;
        }
       .header__titulo h1:hover{
            font-size: 1.5rem;
        }
    /* responsive section header FINAL *
    
    /* responsive section sobre mi inicio */
        .sobre-mi__img img {
            width: 15rem;
            height: 15rem;
            }
        .sobre-mi__descrition{
            margin-right: 1rem;
            }
        .sobre-mi__p{
            font-size: medium;
        }
    
    /* responsive section sobre mi final */
    
    /* responsive section proyectos INICIO*/
        .proyectos__carta{

            width: 10rem;
        }  
        .proyectos__p{
            font-size: 0.7rem;  
        }
        .proyectos__h3{
          padding-bottom: 0;
        }
          
    /* responsive section proyectos FINAL*/
    
    /* responsive section proyectos SKILLS*/
    
    .teg__carta{
        width: 4rem;
        height: 4rem;
    
    }
    
    .teg__carta:hover h2{
        font-size: 1rem;
    
    }
    .teg__carta img{
       
        width: 2.5rem;
        height: 2.5rem;
    }
   
    /* responsive section proyectos SKILLS*/
    
    /* responsive section proyectos CONTAC INICIO*/
    
    .contac__a img{
        width: 2.5rem;
        height: 2.5rem;
    }
    
    .contac__a img:hover{
        width: 5rem;
        height: 5rem;
    }
    
    /* responsive section proyectos CONTAC FINAL*/  
    
    
    
    /* responsive section proyectos  INICIO*/ 
    
    
}
    @media(max-width:550px){
    
        /* responsive section header  INICIO*/
        .header__titulo button{
            font-size: 0.7rem;
    
        }
        .header__nav a{
            font-size: 0.7rem;
        }
    
        .header__nav a:hover{
            font-size: 0.8rem;
        }
     /* responsive section header  Final*/
        .sobre-mi__img {
            display: none;
        
        }
    /* responsive section sobre-mi  INICIO*/
    
        #sobre-mi{
            height:30rem;
        }
        .sobre-mi__descrition {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            margin:1rem;
        }
      */
    /* responsive section sobre-mi  Final*/
    
    /* responsive section proyectos  INICIO*/
     
    .proyectos__mazo-1{
        gap: 1rem;
    }


    /* responsive section proyectos  FINAL*/  
    
    
    /* responsive section SKILLS  INICIO*/ 
    
    #tegnologias{
        height: 25rem;
    }
    .tegnologias__h3{
        font-size: 1.5rem;
    }
    
    .teg__carta {
        width: 3rem;
        height: 3rem;
    }
    
    .teg__carta:hover h2{
        font-size: 0.8rem;
    
    }
    .teg__carta img{
        width: 1.8rem;
        height: 1.8rem;
    }
    
    /* responsive section SKILLS  FINAL*/ 
    
    
    /* responsive section contac  INICIO*/
    #contac{
        height: 10rem;
    }
    .contac__a img{
        width: 1.8rem;
        height: 1.8rem;
    }
    
    .contac__a img:hover{
        width: 4rem;
        height: 4rem;
    }
    /* responsive section contac  FINAL*/
    
    
    
    }
      
    
    @media(max-width:472px){
    

        /* responsive section header INICIO*/
        .check-img{
            left: 0;
            position: absolute;
            display: block;
            z-index: 2;
            
           
        }
 
         ul{
            top: 0;
            left: 0;
            position: absolute;
            background-color: rgba(30,30,30);
            width: 100%;
            height: 15rem;
            display: flex;
            flex-direction: column;
            z-index: 1;
            transform: translateX(-200%)
    
        }


        #check:checked ~ ul{
            transform: translateX(0%)
        }


        .header__nav a:hover {
            width: 100%;
            color: white;
            
          }
       
        /* responsive section header FINAL*/
        
        /* responsive proyectos  nicio*/

        .proyectos__carta {
            height: 23rem;
       
        }

        .verProyect img {
            width: 1.7rem;
       }
       .verProyect p{
        font-size: small;
       }

       .cart_contac{
        gap:1.5rem;
       }
       /* .img{
        display: none;
       } */


}